<%- include("header") -%>

<h1>This is the about page</h1>
<p>Create a to-do list as simple or detailed as you need. Everything in Asana starts with a task, which is an actionable to-do that can stand alone or be a building block for bigger projects. Connect the tasks on your to-do lists back to larger projects, loop in teammates, and share real-time updates online.</p>

<%- include("footer") -%>